@mixin center-absolute ($top:50%,$left:50%){
    position: absolute;
    top:$top;
    left: $left;
    transform: translate(-$left, -$top);
    text-align: center;
}
@mixin gradient-text {
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
@mixin clear-fix{
    &{
        overflow: auto;
        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }
}
/*
break points:
1800px
1200px
900px
600px
*/
@mixin media ($device) {
    @if $device == phone {
        @media only screen and (max-width:37.5em) {@content}
    };
    @if $device == tab {
        @media only screen and (max-width:56.25em) {@content}
    };
    @if $device == mini-lab {
        @media only screen and (max-width:75em) {@content}
    };
    @if $device == pc {
        @media only screen and (min-width:112.5em) {@content}
    };
}