//colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-tertiary: #5643fa;
$color-tertiary-light: #2998ff;
$color-secondary: #ff7730;
$color-secondary-light: #ffb900;
$color-grey-light:#f7f7f7;
$color-grey: #777;
$color-grey-faint: #eee;
$color-grey-dark:#999;
$color-grey-darker:#333;
$color-white: #fff;
$color-black: #000;
